body {
    margin: 0 ;
    background-color:white ;
    font-family: 'Andada', serif;
}

*{
    margin: 0;
    box-sizing: border-box;
}

header{ /*chữ lên hình */
    padding: 0px 40px;
    border-bottom: 2px solid #FFDAB9 ;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 12;
}

.home {
    margin: 0 auto;
    min-height: 100vh;            
    /* background-image: url('../images/b7.jpg');*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    max-width: 1000px;
    margin: auto;
}

.menu-inside{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header .shop a{
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFF00 ;
    font-size: 34px;
    font-weight: 400;
    position: relative;
    line-height: 60px;
    font-family: 'IM Fell English', serif;
}

header .shop a::before{
    bottom: -3px;
    height: 3px;
    background-color: #FFFF00;
    width: 100%;
    content:'';
    position: absolute;
    left: 0px;
    margin: 0px;
}

header .menu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

header .menu ul li{
    display: inline-block;
    margin-left: 30px;
}

header .menu ul li a{
    color: #8B0000;
    line-height: 40px;
    font-size: 20px;
    text-decoration: none;
    position: relative;
}

header .menu ul li a.active::before{
    height: 3px;
    background-color: #8B0000;
    width: 100%;
    content:'';
    position: absolute;
    bottom: -8px;
    left: 0px;
}



/* **********------ SLIDE SHOW ------********** */
slider {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;
   }
   
slider > * {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;
}
   
slide:nth-child(1){
    background-image: url('../images/b7.jpg');
    left: 0%;
    animation-delay: -1s;
    background-size: cover;
    background-position: center;
}
   
slide:nth-child(2){
    background-image: url('../images/bk9.jpg');
    animation-delay: 2s;
    background-size: cover;
    background-position: center;
}
   
slide:nth-child(3){
    background-image: url('../images/sale.jpg');
    animation-delay: 8s;
    background-size: cover;
    background-position: center;
}
   
slide:nth-child(4){
    background-image: url('../images/bk12.jpg');
    left: 0%;
    animation-delay: 6s;
    background-size: cover;
    background-position: center;
}
   
slide p {
    font-family: Comfortaa;
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 340px;
    color: #fff;
}

@keyframes slide {
    0% {left: 100%; width: 100%; opacity: 1;}
    5% {left: 0%;}
    25% {left: 0%;}
    30% {left: -100%; width: 100%; opacity: 1;}
    30.0001% {left: -100%; width: 0%; opacity: 0;}
    100% {left: 100%; width: 100%; opacity: 0;}
}




/* **********------ MENU ------********** */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#FFEFD5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    column-count: 2;
    border-right:1px solid black;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color:#FA8072}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }


/* **********------ ABOUT ------********** */

.about{
    padding: 80px 16px;
}

.about .title{
    background-color: white;
    max-width:50%;
    flex: 0 0 100%;
    margin-bottom: 24px;
}

.about .title h1{
    display: inline-block;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700px;
    margin  : 0 0 4px; /* space h1 vs p */
    padding-bottom: 3px;
    position: relative;
    color:#FFFF00;
    padding-bottom: 2px; /* space line vs skinfood text */
    font-family: 'IM Fell English', serif;
}

.about .title h1::before{
    content:'';
    left: 0px;
    height: 3px;
    position: absolute;
    right: 0px;
    background-color: #FFFF00;
    bottom: 0px;
}

.about .title p{
    display: block;
    font-size: 20px;
    background-color: white;
    font-weight: 300;
    letter-spacing: 2px; /* căn cách giữa các chữ */
} 

/* .about .about-content {
    background-color: yellow;
} */

.about .about-content .img{
    display: inline;
}

.about .about-content .img img{
    width: 40%;
    height: 80%;
    display: inline-block;
}

.about .about-content .text{
    /* width: 60%;
    margin-left: 250px; */
    position: absolute;
    margin-top: -536px;
    margin-left: 420px;  
    max-width: 1500px;
}

.about .about-content .text p{
    font-size: 20px;
    font-weight: 200;
}

.about .about-content .text span{
    color:#FFFF00;
    font-weight: bold;
    font-family: 'IM Fell English', serif;
}



/* **********------ SERVICE------********** */
.service{
    padding: 0px 0px;
}

.service .title{
    background-color: white;
    max-width:50%;
    flex: 0 0 100%;
    margin-bottom: 24px;
}

.service .title h1{
    display: inline-block;
    font-size: 10;
    text-transform: uppercase;
    font-weight: 500px;
    padding-bottom: 3px;
    background-color: red;

}






